#container {
    text-align: center;
    margin: auto;
    width: 50%;
    height: 100%;
    background-color: #292929;
  }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ff7e00;
}

  .titulo{
    font-weight: bolder;
    font-size: 200%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-top: 0px;
  }

  #abecedario { text-align: center; }

  #abecedario > .row > button {
    height: 3rem;
    margin: 0.25rem;
  }

  #abecedario > .row > .btn-primary {
    width: 3rem;
  }
  
  #abecedario > .row > .btn-secondary {
    width: 3rem;
  }
  
  button {
    width: 100px;
    height: 45px;
    margin: 20px;
    border: none;
    font-size: 1.4em;
    cursor: pointer;
  }
  
  canvas {
    text-align: center;
    background-color: #ff7e00;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .letra {
    width: 5%;
    text-align: center;
    margin: 5%;
    background-color: #ff7e00;
    border: 3px solid white;
    border-radius: 5px;
  }

  .buttons {
    text-align: center;
    width: 75px;
  }